<div class="footer">
    <div class="icons">
        <a href="https://www.facebook.com/bookswagoneducationalfacts/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://x.com/bookswagon_in" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/company/bookswagon/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.pinterest.co.uk/bookswagon/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://www.youtube.com/channel/UCrJ4T5_wqMb_eZWtC-staVQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/bookswagon_official/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="text">
        Copyright © 2024 . infora.com. All Rights Reserved
    </div>
</div>